.dropDwon {
  height: 40px;
  padding: 0 20px;
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.dropDwon:focus {
  outline: none;
}
.dropItem {
  width: 100%;
  min-width: max-content;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid gray;
}
.renderFDrop {
  background: #dedede;
}
