/* General container styling */
.video-upload-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Heading styling */
.video-upload-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* File input styling */
.file-input input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.2s;
}

.file-input input:focus {
  border-color: #007bff;
}

/* Video preview container */
.video-preview-container {
  margin-top: 20px;
  position: relative;
  text-align: center;
}

/* Video preview styling */
.video-preview {
  width: 75px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Delete button for the video */
.delete-btn {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #ff4d4d;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-btn:hover {
  background-color: #e60000;
}

/* Upload button styling */
.upload-btn {
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.upload-btn:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.upload-btn:hover:not(:disabled) {
  background-color: #0056b3;
}
#VideofileInput {
  display: none;
}
.delete-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 18px;
  height: 18px;
  padding: 0;
  font-size: 10px;
  margin-top: 0;
}
