.userPage {
  width: 100%;
  height: 100%;
}
.userListBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
}
.userTableHeader {
  width: 100%;
  min-height: 40px;
  display: flex;
  flex-direction: row;
  background: rgba(128, 128, 128, 0.185);
}
.tablecel {
  width: 33%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.userTableRow {
  width: 100%;
  min-height: 40px;
  display: flex;
  flex-direction: row;
  position: relative;
  padding-left: 20px;
}
.tableUserIcon {
  width: 30px;
  position: absolute;
  left: 0px;
  cursor: pointer;
}
.tableBinIcon {
  width: 30px;
  cursor: pointer;
  position: absolute;
  right: 20px;
}
.discountPop {
  width: 300px;
  /* height: 300px; */
  border: 1px solid red;
  position: absolute;
  top: 10%;
  left: 31%;
  background: #fff;
  padding: 15px;
  border-radius: 15px;
}
.discountPop .popBtnBox {
  margin-top: 20px;
}
.disImgBox {
  width: 100%;
  height: 350px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}
.disImgBox input {
  display: none;
}
.disImgBox label {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.uploadGBox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(128, 128, 128, 0.479);
  cursor: pointer;
}
.disImgBox:hover > .uploadGBox {
  display: flex;
}
.disImgBox label:hover > .uploadGBox {
  display: flex;
}
.disImgBox .previewImg {
  width: 100%;
  height: 100%;
}
.discountPopBtn {
  margin-bottom: 20px;
}
